Deadlight Game System/doublegame/final_images/flows.json
[
    {
        "id": "9690900033051cb0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd404d34c8f0cfe0",
        "type": "group",
        "z": "9690900033051cb0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "59ba663d4ab76bb1",
            "402db7a7556eb8db",
            "bff4d43f3878244b",
            "ed18ed34611f3d8a",
            "e5fcf9e1399996f1"
        ],
        "x": 574,
        "y": 39,
        "w": 492,
        "h": 162
    },
    {
        "id": "0a1cfe6fdcfca21f",
        "type": "group",
        "z": "9690900033051cb0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "cf0afea4cfd4f6e5",
            "43d5a35f973a46cc",
            "7f89a6061f5ce192",
            "f5b39cf56d527e3c"
        ],
        "x": 24,
        "y": 39,
        "w": 522,
        "h": 142
    },
    {
        "id": "6690a88189ff43e6",
        "type": "group",
        "z": "9690900033051cb0",
        "g": "5b75bbca86ba777d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6de29869c8668652",
            "fb394995fef0d348",
            "f8768b8c2397713b"
        ],
        "x": 134,
        "y": 1219,
        "w": 612,
        "h": 82
    },
    {
        "id": "450ecea8e6c4ef57",
        "type": "group",
        "z": "9690900033051cb0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a071fc78dc4a645d",
            "44a4e7adbd383e66",
            "e254506f33fb15d1",
            "9e1c8e458473ade1",
            "2e6deac00269bb87",
            "88bc8bc17c92fc7f",
            "1be426051764089d",
            "db9424ca7c0ef9f5"
        ],
        "x": 134,
        "y": 219,
        "w": 852,
        "h": 142
    },
    {
        "id": "748e27481c1fb63d",
        "type": "group",
        "z": "9690900033051cb0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "dcd2a2ddebaa4b9c",
            "f449d2bbfce81922",
            "d6fd140a5f4b43cf",
            "86b3becdde461f37",
            "2821a677ebc47cfc",
            "39ad1fcdaced38fa",
            "0ab8f39aa621e28b",
            "aaf01fbc05748cbc",
            "65bb8a66e7acb5f8",
            "10d3500338de4098",
            "5868dce2363f27fc",
            "890685f07ce424da",
            "3bd6a6a1073aa27a",
            "c772cff6272d7d68",
            "b5b98eb53cf308b2",
            "9af5c1eccad80468",
            "77dae115c1df7a6a",
            "cf5f6992666fc2e3"
        ],
        "x": 114,
        "y": 399,
        "w": 902,
        "h": 342
    },
    {
        "id": "480f06c0c67b7c5f",
        "type": "group",
        "z": "9690900033051cb0",
        "g": "5b75bbca86ba777d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "70f1fe9e3201c3d5",
            "3d918548dc359f8a",
            "6b1d00959b15f9b4",
            "10c39a7d44234a20"
        ],
        "x": 124,
        "y": 859,
        "w": 282,
        "h": 162
    },
    {
        "id": "5b75bbca86ba777d",
        "type": "group",
        "z": "9690900033051cb0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "153e1616d3bde4a3",
            "170511d52fb15535",
            "7eaab2cc8b24038c",
            "65d8cb501f79872b",
            "a51aaab66c801a70",
            "443f030bf16eb11a",
            "ce8817d10977b2c7",
            "6c85f5094cd4ff62",
            "d6dfe86b0899a962",
            "b392f47a733cc2ac",
            "f943466e4aad2ca7",
            "8495832f88d4528a",
            "c30bafde419406d0",
            "25556c89e6e76123",
            "6690a88189ff43e6",
            "480f06c0c67b7c5f"
        ],
        "x": 98,
        "y": 819,
        "w": 928,
        "h": 508
    },
    {
        "id": "d79e55028dc78036",
        "type": "group",
        "z": "9690900033051cb0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d4cae41cfc39e1db",
            "af86749f52167ce1",
            "9f5abe79bf68f89e",
            "5191d7105e588ccc",
            "09c0f36b8af1032e",
            "2b538ec7435df765",
            "0dbd4117e16284d7",
            "ac26a6f9f8ca2285",
            "8a2c71a75adda6f8",
            "b6ee5d332469454a",
            "431764e2e0a7d07c",
            "df8c012038968842",
            "4d3a6e30d4412849"
        ],
        "x": 314,
        "y": 1379,
        "w": 712,
        "h": 442
    },
    {
        "id": "d4cae41cfc39e1db",
        "type": "function",
        "z": "9690900033051cb0",
        "g": "d79e55028dc78036",
        "name": "Distribute ESP1 Data",
        "func": "// Gelen ESP1 durum mesajını al\nconst status = msg.payload;\n\n// Eğer payload boş veya donanım verisi yoksa, hiçbir şey yapma\nif (!status || !status.hardware) { return null; }\n\n// Her bir veri parçası için ayrı bir mesaj nesnesi oluştur\nconst msg_gameState = { payload: status.gameState };\nconst msg_levelDetail = { payload: status.levelDetail };\nconst msg_matrix = { payload: status.matrix };\nconst msg_timer = { payload: status.timer };\nconst msg_lastSound = { payload: status.hardware.lastSoundTrack };\nconst msg_dfPlayer = { payload: status.dfPlayerStatus ? \"OK\" : \"Error\" };\nconst msg_btn1 = { payload: status.hardware.button1_pressed };\nconst msg_btn2 = { payload: status.hardware.button2_pressed };\n// YENİ EKLENENLER\nconst msg_btn3 = { payload: status.hardware.button3_pressed };\nconst msg_btn4 = { payload: status.hardware.button4_pressed };\n\n// Sırasıyla tüm mesajları çıkışlara gönder\n// Artık 10 çıkış var\nreturn [\n    msg_gameState,      // Çıkış 1\n    msg_levelDetail,    // Çıkış 2\n    msg_matrix,         // Çıkış 3\n    msg_timer,          // Çıkış 4\n    msg_lastSound,      // Çıkış 5\n    msg_dfPlayer,       // Çıkış 6\n    msg_btn1,           // Çıkış 7\n    msg_btn2,           // Çıkış 8\n    msg_btn3,           // Çıkış 9\n    msg_btn4            // Çıkış 10\n];",
        "outputs": 10,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1580,
        "wires": [
            [
                "af86749f52167ce1"
            ],
            [
                "9f5abe79bf68f89e"
            ],
            [
                "09c0f36b8af1032e"
            ],
            [
                "5191d7105e588ccc"
            ],
            [
                "2b538ec7435df765"
            ],
            [
                "0dbd4117e16284d7"
            ],
            [
                "ac26a6f9f8ca2285"
            ],
            [
                "8a2c71a75adda6f8"
            ],
            [
                "b6ee5d332469454a"
            ],
            [
                "431764e2e0a7d07c"
            ]
        ]
    },
    {
        "id": "af86749f52167ce1",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "d79e55028dc78036",
        "group": "7ef5731122d1bde1",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "game state",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 910,
        "y": 1420,
        "wires": []
    },
    {
        "id": "9f5abe79bf68f89e",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "d79e55028dc78036",
        "group": "7ef5731122d1bde1",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 890,
        "y": 1460,
        "wires": []
    },
    {
        "id": "5191d7105e588ccc",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "d79e55028dc78036",
        "group": "a130c0adc74c4658",
        "order": 14,
        "width": 4,
        "height": 1,
        "name": "time",
        "label": "",
        "format": "{{msg.payload}}s",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "31",
        "color": "#f00000",
        "x": 890,
        "y": 1540,
        "wires": []
    },
    {
        "id": "09c0f36b8af1032e",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "d79e55028dc78036",
        "group": "7ef5731122d1bde1",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 1500,
        "wires": []
    },
    {
        "id": "2b538ec7435df765",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "d79e55028dc78036",
        "group": "7ef5731122d1bde1",
        "order": 8,
        "width": 4,
        "height": 1,
        "name": "last sound",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 1580,
        "wires": []
    },
    {
        "id": "0dbd4117e16284d7",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "d79e55028dc78036",
        "group": "7ef5731122d1bde1",
        "order": 10,
        "width": 4,
        "height": 1,
        "name": "DFplayer Status",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 1620,
        "wires": []
    },
    {
        "id": "ac26a6f9f8ca2285",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "d79e55028dc78036",
        "group": "7ef5731122d1bde1",
        "order": 12,
        "width": 4,
        "height": 1,
        "name": "Button1 Status",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 1660,
        "wires": []
    },
    {
        "id": "8a2c71a75adda6f8",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "d79e55028dc78036",
        "group": "7ef5731122d1bde1",
        "order": 14,
        "width": 4,
        "height": 1,
        "name": "Button2 Status",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 1700,
        "wires": []
    },
    {
        "id": "b6ee5d332469454a",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "d79e55028dc78036",
        "group": "7ef5731122d1bde1",
        "order": 16,
        "width": 4,
        "height": 1,
        "name": "Button3 Status",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 1740,
        "wires": []
    },
    {
        "id": "431764e2e0a7d07c",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "d79e55028dc78036",
        "group": "7ef5731122d1bde1",
        "order": 18,
        "width": 4,
        "height": 1,
        "name": "Button4 Status",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 1780,
        "wires": []
    },
    {
        "id": "df8c012038968842",
        "type": "mqtt in",
        "z": "9690900033051cb0",
        "g": "d79e55028dc78036",
        "name": "esp1 status",
        "topic": "game/status",
        "qos": "2",
        "datatype": "json",
        "broker": "a1790d5914d7dbc8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 1560,
        "wires": [
            [
                "d4cae41cfc39e1db"
            ]
        ]
    },
    {
        "id": "a071fc78dc4a645d",
        "type": "mqtt in",
        "z": "9690900033051cb0",
        "g": "450ecea8e6c4ef57",
        "name": "",
        "topic": "esp/esp1/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "939278ac2779400f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "44a4e7adbd383e66"
            ]
        ]
    },
    {
        "id": "44a4e7adbd383e66",
        "type": "change",
        "z": "9690900033051cb0",
        "g": "450ecea8e6c4ef57",
        "name": "esp1 connection status",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "online",
                "fromt": "str",
                "to": "limegreen",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "offline",
                "fromt": "str",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 260,
        "wires": [
            [
                "e254506f33fb15d1"
            ]
        ]
    },
    {
        "id": "e254506f33fb15d1",
        "type": "ui_template",
        "z": "9690900033051cb0",
        "g": "450ecea8e6c4ef57",
        "group": "bade04355ca08d4c",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div style=\"font-size: 1.2rem;\">\n    <i class=\"fa fa-circle\" style=\"color: {{msg.payload}};\"></i>\n    <span>ESP1 Connection</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "59ba663d4ab76bb1",
        "type": "ui_button",
        "z": "9690900033051cb0",
        "g": "fd404d34c8f0cfe0",
        "name": "Game Reset",
        "group": "7ef5731122d1bde1",
        "order": 19,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "{{b_game_reset}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"action\":\"reset_game\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 160,
        "wires": [
            [
                "ed18ed34611f3d8a"
            ]
        ]
    },
    {
        "id": "402db7a7556eb8db",
        "type": "ui_button",
        "z": "9690900033051cb0",
        "g": "fd404d34c8f0cfe0",
        "name": "Skip Led Game",
        "group": "7ef5731122d1bde1",
        "order": 20,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "{{b_skip_led_game}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"action\":\"skip_led_game\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 740,
        "y": 80,
        "wires": [
            [
                "ed18ed34611f3d8a"
            ]
        ]
    },
    {
        "id": "bff4d43f3878244b",
        "type": "ui_button",
        "z": "9690900033051cb0",
        "g": "fd404d34c8f0cfe0",
        "name": "Skip XOXO game",
        "group": "7ef5731122d1bde1",
        "order": 21,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "{{b_skip_xoxo_game}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"action\":\"skip_xoxo_game\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 120,
        "wires": [
            [
                "ed18ed34611f3d8a"
            ]
        ]
    },
    {
        "id": "ed18ed34611f3d8a",
        "type": "mqtt out",
        "z": "9690900033051cb0",
        "g": "fd404d34c8f0cfe0",
        "name": "",
        "topic": "game/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "939278ac2779400f",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "dcd2a2ddebaa4b9c",
        "type": "mqtt in",
        "z": "9690900033051cb0",
        "g": "748e27481c1fb63d",
        "name": "esp2 status",
        "topic": "esp32-gamemaster/status",
        "qos": "2",
        "datatype": "json",
        "broker": "939278ac2779400f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 440,
        "wires": [
            [
                "f449d2bbfce81922",
                "d6fd140a5f4b43cf",
                "2821a677ebc47cfc",
                "0ab8f39aa621e28b",
                "65bb8a66e7acb5f8",
                "5868dce2363f27fc",
                "3bd6a6a1073aa27a"
            ]
        ]
    },
    {
        "id": "f449d2bbfce81922",
        "type": "debug",
        "z": "9690900033051cb0",
        "g": "748e27481c1fb63d",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 500,
        "wires": []
    },
    {
        "id": "d6fd140a5f4b43cf",
        "type": "change",
        "z": "9690900033051cb0",
        "g": "748e27481c1fb63d",
        "name": "gameMode",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gameMode",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 440,
        "wires": [
            [
                "86b3becdde461f37"
            ]
        ]
    },
    {
        "id": "86b3becdde461f37",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "748e27481c1fb63d",
        "group": "3c7835777fb6326f",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "GameMode",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "GameMode",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "2821a677ebc47cfc",
        "type": "change",
        "z": "9690900033051cb0",
        "g": "748e27481c1fb63d",
        "name": "Mic Status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hardware.micStatus",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 480,
        "wires": [
            [
                "39ad1fcdaced38fa"
            ]
        ]
    },
    {
        "id": "39ad1fcdaced38fa",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "748e27481c1fb63d",
        "group": "3c7835777fb6326f",
        "order": 8,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Mic Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 480,
        "wires": []
    },
    {
        "id": "0ab8f39aa621e28b",
        "type": "change",
        "z": "9690900033051cb0",
        "g": "748e27481c1fb63d",
        "name": "ledBrightness",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hardware.ledBrightness",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 520,
        "wires": [
            [
                "aaf01fbc05748cbc"
            ]
        ]
    },
    {
        "id": "aaf01fbc05748cbc",
        "type": "ui_gauge",
        "z": "9690900033051cb0",
        "g": "748e27481c1fb63d",
        "name": "LedBrightness",
        "group": "3c7835777fb6326f",
        "order": 4,
        "width": 6,
        "height": 2,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "255",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 660,
        "y": 520,
        "wires": []
    },
    {
        "id": "65bb8a66e7acb5f8",
        "type": "change",
        "z": "9690900033051cb0",
        "g": "748e27481c1fb63d",
        "name": "selectedLevel",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hardware.selectedLevel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 580,
        "wires": [
            [
                "10d3500338de4098"
            ]
        ]
    },
    {
        "id": "10d3500338de4098",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "748e27481c1fb63d",
        "group": "a130c0adc74c4658",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "selected level voltage",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 640,
        "y": 580,
        "wires": []
    },
    {
        "id": "5868dce2363f27fc",
        "type": "change",
        "z": "9690900033051cb0",
        "g": "748e27481c1fb63d",
        "name": "RFID Status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hardware.rfidStatus",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 640,
        "wires": [
            [
                "890685f07ce424da"
            ]
        ]
    },
    {
        "id": "890685f07ce424da",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "748e27481c1fb63d",
        "group": "a130c0adc74c4658",
        "order": 16,
        "width": 4,
        "height": 1,
        "name": "RFID STATUS",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 640,
        "wires": []
    },
    {
        "id": "3bd6a6a1073aa27a",
        "type": "change",
        "z": "9690900033051cb0",
        "g": "748e27481c1fb63d",
        "name": "liveVoltage",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hardware.liveVoltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 700,
        "wires": [
            [
                "c772cff6272d7d68"
            ]
        ]
    },
    {
        "id": "c772cff6272d7d68",
        "type": "ui_gauge",
        "z": "9690900033051cb0",
        "g": "748e27481c1fb63d",
        "name": "",
        "group": "a130c0adc74c4658",
        "order": 7,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#ff1414",
            "#00fffb",
            "#00ff11"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 700,
        "wires": []
    },
    {
        "id": "9e1c8e458473ade1",
        "type": "mqtt in",
        "z": "9690900033051cb0",
        "g": "450ecea8e6c4ef57",
        "name": "",
        "topic": "esp/esp2/connection",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a1790d5914d7dbc8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "2e6deac00269bb87"
            ]
        ]
    },
    {
        "id": "2e6deac00269bb87",
        "type": "change",
        "z": "9690900033051cb0",
        "g": "450ecea8e6c4ef57",
        "name": "esp2 connection status",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "online",
                "fromt": "str",
                "to": "limegreen",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "offline",
                "fromt": "str",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "88bc8bc17c92fc7f"
            ]
        ]
    },
    {
        "id": "88bc8bc17c92fc7f",
        "type": "ui_template",
        "z": "9690900033051cb0",
        "g": "450ecea8e6c4ef57",
        "group": "bade04355ca08d4c",
        "name": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<div style=\"font-size: 1.2rem;\">\n    <i class=\"fa fa-circle\" style=\"color: {{msg.payload}};\"></i>\n    <span>ESP2 Connection</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "1be426051764089d",
        "type": "ui_template",
        "z": "9690900033051cb0",
        "g": "450ecea8e6c4ef57",
        "group": "42fcb8637813084e",
        "name": "ESP1 WEB UI",
        "order": 6,
        "width": "0",
        "height": "0",
        "format": "<div style=\"font-size: 1.1rem; padding: 5px 0;\">\n    <a href=\"http://192.168.20.52\" target=\"_blank\"\n        style=\"text-decoration: none; color: #00BFFF; display: flex; align-items: center;\">\n        <i class=\"fa fa-external-link\" style=\"margin-right: 10px;\"></i>\n        <span>ESP1 UI</span>\n    </a>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 880,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "db9424ca7c0ef9f5",
        "type": "ui_template",
        "z": "9690900033051cb0",
        "g": "450ecea8e6c4ef57",
        "group": "42fcb8637813084e",
        "name": "ESP2 WEB UI",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<div style=\"font-size: 1.1rem; padding: 5px 0;\">\n    <a href=\"http://192.168.20.53\" target=\"_blank\"\n        style=\"text-decoration: none; color: #00BFFF; display: flex; align-items: center;\">\n        <i class=\"fa fa-external-link\" style=\"margin-right: 10px;\"></i>\n        <span>ESP2 UI</span>\n    </a>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 880,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "6de29869c8668652",
        "type": "ui_switch",
        "z": "9690900033051cb0",
        "g": "6690a88189ff43e6",
        "name": "Game Language",
        "label": "Game Sound Language TR-EN",
        "tooltip": "TR EN",
        "group": "cea123379b95bb7b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "EN",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "TR",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 1260,
        "wires": [
            [
                "fb394995fef0d348"
            ]
        ]
    },
    {
        "id": "fb394995fef0d348",
        "type": "change",
        "z": "9690900033051cb0",
        "g": "6690a88189ff43e6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"action\":\"set_sound_language\", \"value\":payload}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 1260,
        "wires": [
            [
                "f8768b8c2397713b"
            ]
        ]
    },
    {
        "id": "f8768b8c2397713b",
        "type": "mqtt out",
        "z": "9690900033051cb0",
        "g": "6690a88189ff43e6",
        "name": "",
        "topic": "game/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "939278ac2779400f",
        "x": 650,
        "y": 1260,
        "wires": []
    },
    {
        "id": "cf0afea4cfd4f6e5",
        "type": "ui_button",
        "z": "9690900033051cb0",
        "g": "0a1cfe6fdcfca21f",
        "name": "Skip Mic Game",
        "group": "3c7835777fb6326f",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{b_skip_mic_game}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"action\":\"skip_mic_game\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "7f89a6061f5ce192"
            ]
        ]
    },
    {
        "id": "43d5a35f973a46cc",
        "type": "ui_button",
        "z": "9690900033051cb0",
        "g": "0a1cfe6fdcfca21f",
        "name": "Replay Mic Game",
        "group": "3c7835777fb6326f",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{b_replay_mic_game}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"action\":\"replay_mic_game\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "7f89a6061f5ce192"
            ]
        ]
    },
    {
        "id": "7f89a6061f5ce192",
        "type": "mqtt out",
        "z": "9690900033051cb0",
        "g": "0a1cfe6fdcfca21f",
        "name": "",
        "topic": "gamemaster/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "939278ac2779400f",
        "x": 420,
        "y": 100,
        "wires": []
    },
    {
        "id": "4d3a6e30d4412849",
        "type": "mqtt in",
        "z": "9690900033051cb0",
        "g": "d79e55028dc78036",
        "name": "esp1 status",
        "topic": "game/status",
        "qos": "2",
        "datatype": "json",
        "broker": "a1790d5914d7dbc8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "153e1616d3bde4a3",
        "type": "ui_button",
        "z": "9690900033051cb0",
        "g": "5b75bbca86ba777d",
        "name": "",
        "group": "cea123379b95bb7b",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Turkce",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "tr",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 1040,
        "wires": [
            [
                "7eaab2cc8b24038c"
            ]
        ]
    },
    {
        "id": "170511d52fb15535",
        "type": "ui_button",
        "z": "9690900033051cb0",
        "g": "5b75bbca86ba777d",
        "name": "",
        "group": "cea123379b95bb7b",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "English",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "en",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 500,
        "y": 1100,
        "wires": [
            [
                "7eaab2cc8b24038c"
            ]
        ]
    },
    {
        "id": "7eaab2cc8b24038c",
        "type": "function",
        "z": "9690900033051cb0",
        "g": "5b75bbca86ba777d",
        "name": "Generate All Labels",
        "func": "// Adım 1: Tüm çevirileri içeren sözlüğü oluştur\nconst translations = {\n    en: {\n        // Grup Başlıkları\n        g_master_control: \"Master Control\",\n        g_puzzle1: \"Puzzle 1: Matrix & LED Game\",\n        g_puzzle2: \"Puzzle 2: Microphone\",\n        g_settings: \"Language Settings\",\n        g_connection_status: \"ESP Connection Status\",\n        g_direct_access: \"Direct ESP Access\",\n        \n        // Widget Etiketleri ve Başlıkları\n        l_time_remaining: \"Time Remaining\",\n        l_selected_level_voltage: \"Selected Level/Voltage\",\n        l_rfid_status: \"RFID Status\",\n        t_voltmeter_status: \"VoltMeter Live STATUS\",\n        l_game_state: \"Game State\",\n        l_level: \"Level\",\n        l_matrix_screen: \"Matrix Screen\",\n        l_last_sound: \"Last Sound\",\n        l_dfplayer_status: \"DFplayer Status\",\n        l_button1_status: \"Button1 Status\",\n        l_button2_status: \"Button2 Status\",\n        l_button3_status: \"Button3 Status\",\n        l_button4_status: \"Button4 Status\",\n        b_game_reset: \"Game Reset\",\n        b_skip_led_game: \"Skip Led Game\",\n        b_skip_xoxo_game: \"Skip XOXO game\",\n        l_gamemode: \"GameMode\",\n        t_led_brightness: \"LedBrightness\",\n        l_mic_status: \"Mic Status\",\n        b_skip_mic_game: \"Skip Mic Game\",\n        b_replay_mic_game: \"Replay Mic Game\",\n        l_game_lang: \"Game Sound Language TR-EN\",\n        l_ui_lang: \"UI Language Switch\"\n    },\n    tr: {\n        g_master_control: \"Ana Kontrol\",\n        g_puzzle1: \"Puzzle 1: Matrix & LED Oyunu\",\n        g_puzzle2: \"Puzzle 2: Mikrofon Oyunu\",\n        g_settings: \"Dil Ayarları\",\n        g_connection_status: \"ESP Bağlantı Durumu\",\n        g_direct_access: \"ESP Arayüz Linkleri\",\n        l_time_remaining: \"Kalan Süre\",\n        l_selected_level_voltage: \"Seçilen Seviye Voltajı\",\n        l_rfid_status: \"RFID Durumu\",\n        t_voltmeter_status: \"Anlık Voltmetre Durumu\",\n        l_game_state: \"Oyun Durumu\",\n        l_level: \"Seviye\",\n        l_matrix_screen: \"Matrix Ekranı\",\n        l_last_sound: \"Son Çalınan Ses\",\n        l_dfplayer_status: \"DFPlayer Durumu\",\n        l_button1_status: \"Buton 1 Durumu\",\n        l_button2_status: \"Buton 2 Durumu\",\n        l_button3_status: \"Buton 3 Durumu\",\n        l_button4_status: \"Buton 4 Durumu\",\n        b_game_reset: \"Oyunu Sıfırla\",\n        b_skip_led_game: \"LED Oyununu Atla\",\n        b_skip_xoxo_game: \"XOXO Oyununu Atla\",\n        l_gamemode: \"Oyun Modu\",\n        t_led_brightness: \"LED Parlaklığı\",\n        l_mic_status: \"Mikrofon Durumu\",\n        b_skip_mic_game: \"Mikrofon Oyununu Atla\",\n        b_replay_mic_game: \"Mikrofon Oyununu Tekrar Oyna\",\n        l_game_lang: \"Oyun Sesi Dili TR-EN\",\n        l_ui_lang: \"Arayüz Dili / UI Language\"\n    }\n};\n\n// Adım 2: Gelen dil seçimini al ('tr' veya 'en')\nconst lang = msg.payload;\n\n// Adım 3: Doğru dil sözlüğünü seç\nconst labels = translations[lang] || translations.tr; // Hata olursa Türkçe'yi varsay\n\n// Adım 4: Mesajın kendisine tüm çevrilmiş etiketleri birer özellik olarak ekle\nmsg.g_master_control = labels.g_master_control;\nmsg.g_puzzle1 = labels.g_puzzle1;\nmsg.g_puzzle2 = labels.g_puzzle2;\nmsg.g_settings = labels.g_settings;\nmsg.g_connection_status = labels.g_connection_status;\nmsg.g_direct_access = labels.g_direct_access;\n\nmsg.l_time_remaining = labels.l_time_remaining;\nmsg.l_selected_level_voltage = labels.l_selected_level_voltage;\nmsg.l_rfid_status = labels.l_rfid_status;\nmsg.t_voltmeter_status = labels.t_voltmeter_status;\nmsg.l_game_state = labels.l_game_state;\nmsg.l_level = labels.l_level;\nmsg.l_matrix_screen = labels.l_matrix_screen;\nmsg.l_last_sound = labels.l_last_sound;\nmsg.l_dfplayer_status = labels.l_dfplayer_status;\nmsg.l_button1_status = labels.l_button1_status;\nmsg.l_button2_status = labels.l_button2_status;\nmsg.l_button3_status = labels.l_button3_status;\nmsg.l_button4_status = labels.l_button4_status;\nmsg.b_game_reset = labels.b_game_reset;\nmsg.b_skip_led_game = labels.b_skip_led_game;\nmsg.b_skip_xoxo_game = labels.b_skip_xoxo_game;\nmsg.l_gamemode = labels.l_gamemode;\nmsg.t_led_brightness = labels.t_led_brightness;\nmsg.l_mic_status = labels.l_mic_status;\nmsg.b_skip_mic_game = labels.b_skip_mic_game;\nmsg.b_replay_mic_game = labels.b_replay_mic_game;\nmsg.l_game_lang = labels.l_game_lang;\nmsg.l_ui_lang = labels.l_ui_lang;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1060,
        "wires": [
            [
                "65d8cb501f79872b",
                "a51aaab66c801a70",
                "443f030bf16eb11a",
                "ce8817d10977b2c7",
                "6c85f5094cd4ff62",
                "d6dfe86b0899a962",
                "b392f47a733cc2ac",
                "f943466e4aad2ca7",
                "c30bafde419406d0",
                "8495832f88d4528a",
                "25556c89e6e76123"
            ]
        ]
    },
    {
        "id": "65d8cb501f79872b",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "5b75bbca86ba777d",
        "group": "a130c0adc74c4658",
        "order": 13,
        "width": 4,
        "height": 1,
        "name": "time ",
        "label": "{{l_time_remaining}}",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 850,
        "y": 860,
        "wires": []
    },
    {
        "id": "a51aaab66c801a70",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "5b75bbca86ba777d",
        "group": "7ef5731122d1bde1",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "l_game_state",
        "label": "{{l_game_state}}",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 900,
        "wires": []
    },
    {
        "id": "443f030bf16eb11a",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "5b75bbca86ba777d",
        "group": "7ef5731122d1bde1",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "{{g_puzzle1}}",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 940,
        "wires": []
    },
    {
        "id": "ce8817d10977b2c7",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "5b75bbca86ba777d",
        "group": "7ef5731122d1bde1",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "level",
        "label": "{{l_level}}",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 980,
        "wires": []
    },
    {
        "id": "6c85f5094cd4ff62",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "5b75bbca86ba777d",
        "group": "7ef5731122d1bde1",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "last sound",
        "label": "{{l_last_sound}}",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d6dfe86b0899a962",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "5b75bbca86ba777d",
        "group": "7ef5731122d1bde1",
        "order": 9,
        "width": 4,
        "height": 1,
        "name": "DFplayer Status",
        "label": "{{l_dfplayer_status}}",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b392f47a733cc2ac",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "5b75bbca86ba777d",
        "group": "7ef5731122d1bde1",
        "order": 11,
        "width": 4,
        "height": 1,
        "name": "Button1 Status",
        "label": "{{l_button1_status}}",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 1100,
        "wires": []
    },
    {
        "id": "f943466e4aad2ca7",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "5b75bbca86ba777d",
        "group": "7ef5731122d1bde1",
        "order": 13,
        "width": 4,
        "height": 1,
        "name": "Button2 Status",
        "label": "{{l_button2_status}}",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 1140,
        "wires": []
    },
    {
        "id": "8495832f88d4528a",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "5b75bbca86ba777d",
        "group": "7ef5731122d1bde1",
        "order": 17,
        "width": 4,
        "height": 1,
        "name": "Button4 Status",
        "label": "{{l_button4_status}}",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 1220,
        "wires": []
    },
    {
        "id": "c30bafde419406d0",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "5b75bbca86ba777d",
        "group": "7ef5731122d1bde1",
        "order": 15,
        "width": 4,
        "height": 1,
        "name": "Button3 Status",
        "label": "{{l_button3_status}}",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 1180,
        "wires": []
    },
    {
        "id": "25556c89e6e76123",
        "type": "link out",
        "z": "9690900033051cb0",
        "g": "5b75bbca86ba777d",
        "name": "lang1_in",
        "mode": "link",
        "links": [
            "e5fcf9e1399996f1",
            "10c39a7d44234a20",
            "77dae115c1df7a6a",
            "f5b39cf56d527e3c"
        ],
        "x": 695,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e5fcf9e1399996f1",
        "type": "link in",
        "z": "9690900033051cb0",
        "g": "fd404d34c8f0cfe0",
        "name": "lang1_out",
        "links": [
            "25556c89e6e76123"
        ],
        "x": 615,
        "y": 120,
        "wires": [
            [
                "402db7a7556eb8db",
                "bff4d43f3878244b",
                "59ba663d4ab76bb1"
            ]
        ]
    },
    {
        "id": "b5b98eb53cf308b2",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "748e27481c1fb63d",
        "group": "a130c0adc74c4658",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "selected level voltage",
        "label": "{{l_selected_level_voltage}}",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 580,
        "wires": []
    },
    {
        "id": "9af5c1eccad80468",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "748e27481c1fb63d",
        "group": "a130c0adc74c4658",
        "order": 15,
        "width": 4,
        "height": 1,
        "name": "RFID STATUS",
        "label": "{{l_rfid_status}}",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 640,
        "wires": []
    },
    {
        "id": "77dae115c1df7a6a",
        "type": "link in",
        "z": "9690900033051cb0",
        "g": "748e27481c1fb63d",
        "name": "lang2_in",
        "links": [
            "25556c89e6e76123"
        ],
        "x": 765,
        "y": 640,
        "wires": [
            [
                "9af5c1eccad80468",
                "b5b98eb53cf308b2",
                "cf5f6992666fc2e3"
            ]
        ]
    },
    {
        "id": "cf5f6992666fc2e3",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "748e27481c1fb63d",
        "group": "a130c0adc74c4658",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "Voltmeter Live STATUS",
        "label": "{{t_voltmeter_status}}",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 700,
        "wires": []
    },
    {
        "id": "f5b39cf56d527e3c",
        "type": "link in",
        "z": "9690900033051cb0",
        "g": "0a1cfe6fdcfca21f",
        "name": "lang3_in",
        "links": [
            "25556c89e6e76123"
        ],
        "x": 65,
        "y": 100,
        "wires": [
            [
                "cf0afea4cfd4f6e5",
                "43d5a35f973a46cc"
            ]
        ]
    },
    {
        "id": "10c39a7d44234a20",
        "type": "link in",
        "z": "9690900033051cb0",
        "g": "480f06c0c67b7c5f",
        "name": "lang4_in",
        "links": [
            "25556c89e6e76123"
        ],
        "x": 165,
        "y": 940,
        "wires": [
            [
                "3d918548dc359f8a",
                "70f1fe9e3201c3d5",
                "6b1d00959b15f9b4"
            ]
        ]
    },
    {
        "id": "3d918548dc359f8a",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "480f06c0c67b7c5f",
        "group": "3c7835777fb6326f",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "l_gamemode",
        "label": "{{l_gamemode}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 290,
        "y": 900,
        "wires": []
    },
    {
        "id": "70f1fe9e3201c3d5",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "480f06c0c67b7c5f",
        "group": "3c7835777fb6326f",
        "order": 9,
        "width": 4,
        "height": 1,
        "name": "mic status",
        "label": "{{l_mic_status}}",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 280,
        "y": 940,
        "wires": []
    },
    {
        "id": "6b1d00959b15f9b4",
        "type": "ui_text",
        "z": "9690900033051cb0",
        "g": "480f06c0c67b7c5f",
        "group": "3c7835777fb6326f",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "t_led_brightness",
        "label": "{{t_led_brightness}}",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 300,
        "y": 980,
        "wires": []
    },
    {
        "id": "13a0477e1693557a",
        "type": "ui_spacer",
        "z": "9690900033051cb0",
        "name": "spacer",
        "group": "a130c0adc74c4658",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "df977a8d9acc9ce1",
        "type": "ui_spacer",
        "z": "9690900033051cb0",
        "name": "spacer",
        "group": "a130c0adc74c4658",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "156e0f34262463b7",
        "type": "ui_spacer",
        "z": "9690900033051cb0",
        "name": "spacer",
        "group": "a130c0adc74c4658",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "a4c570516e5a37f2",
        "type": "ui_spacer",
        "z": "9690900033051cb0",
        "name": "spacer",
        "group": "a130c0adc74c4658",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "68d6eaa3de11f3de",
        "type": "ui_spacer",
        "z": "9690900033051cb0",
        "name": "spacer",
        "group": "a130c0adc74c4658",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "ec3798a888e80f14",
        "type": "ui_spacer",
        "z": "9690900033051cb0",
        "name": "spacer",
        "group": "a130c0adc74c4658",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "646152e1b3e5b6d6",
        "type": "ui_spacer",
        "z": "9690900033051cb0",
        "name": "spacer",
        "group": "a130c0adc74c4658",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "5eeeb95dac9df37f",
        "type": "ui_spacer",
        "z": "9690900033051cb0",
        "name": "spacer",
        "group": "a130c0adc74c4658",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "09e47d7c72224b9f",
        "type": "ui_spacer",
        "z": "9690900033051cb0",
        "name": "spacer",
        "group": "3c7835777fb6326f",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "3ac40bc49ef40206",
        "type": "ui_spacer",
        "z": "9690900033051cb0",
        "name": "spacer",
        "group": "3c7835777fb6326f",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "d48c9729567dbda3",
        "type": "ui_spacer",
        "z": "9690900033051cb0",
        "name": "spacer",
        "group": "3c7835777fb6326f",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "ca29aca6303b719c",
        "type": "ui_spacer",
        "z": "9690900033051cb0",
        "name": "spacer",
        "group": "3c7835777fb6326f",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "af24651af6d73bfb",
        "type": "ui_spacer",
        "z": "9690900033051cb0",
        "name": "spacer",
        "group": "cea123379b95bb7b",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "7ef5731122d1bde1",
        "type": "ui_group",
        "name": "Puzzle 1: Matrix & LED",
        "tab": "d68df538ebd7899c",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "a130c0adc74c4658",
        "type": "ui_group",
        "name": "gamemaster control",
        "tab": "d68df538ebd7899c",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a1790d5914d7dbc8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.20.208",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "939278ac2779400f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.20.208",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bade04355ca08d4c",
        "type": "ui_group",
        "name": "ESP Connection Status",
        "tab": "34c5e59b2c4b1daa",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "3c7835777fb6326f",
        "type": "ui_group",
        "name": "Puzzle 1:Mic",
        "tab": "d68df538ebd7899c",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "42fcb8637813084e",
        "type": "ui_group",
        "name": "Direct ESP Access",
        "tab": "34c5e59b2c4b1daa",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "cea123379b95bb7b",
        "type": "ui_group",
        "name": "Language Settings",
        "tab": "51bc0142d73d9172",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d68df538ebd7899c",
        "type": "ui_tab",
        "name": "Game Control",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "34c5e59b2c4b1daa",
        "type": "ui_tab",
        "name": "Debug & Durum",
        "icon": "bug",
        "order": 2
    },
    {
        "id": "51bc0142d73d9172",
        "type": "ui_tab",
        "name": "Global Settings",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]